/* Fonts */
$base-font-family = "PT Sans", Tahoma, Helvetica, Arial, sans-serif
$base-icon-font = "icomoon"
$base-font-size = 20px
$base-line-hight = 1.4


/* Colors */
$base-text-color = #aaa
$body-bg-color = #333
$footer-bg-color = #444
$main-color = #ffec3c


/* Layout */
$min-width = 600px
$max-width = 900px
$footer-height = 80px

$layout-section
  margin: 0 auto
  min-width: $min-width
  max-width: $max-width


/* Effects */
$transition-duration = .2s
$mq-retina = "(min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2)"